$primary: var(--ion-color-primary);
$radial-card-active: var(--radial-card-active);
$radial-card-inactive: var(--radial-card-inactive);

h3 {
  color: #000000 !important;
}

p {
  color: #737373 !important;
}

ion-item-divider {
  background-color: #ffffff;
  color: #ffffff;
}

.ion-card-active {
  --background: #{$radial-card-active};
  border-color: #{$primary};
  border-style: solid;
  border-width: thin;
  border-radius: 25px;
  min-height: 213px;
}

.ion-card-inactive {
  --background: #{$radial-card-inactive};
  border-color: #{$primary};
  border-style: solid;
  border-width: thin;
  border-radius: 25px;
  min-height: 213px;  
}

.ion-card-vital {
  --background: #ffffff;
  border-color: #{$primary};
  border-style: solid;
  border-width: thin;
  border-radius: 25px;
  //min-height: 173px;
}

.ion-card-discussion {
  width: 100%;
  --background: #ffffff;
  border-color: #{$primary};
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  margin-bottom: 2.5px !important;
}

.ion-card-discussion ion-card-subtitle {
  font-weight: 600;
  padding: 5px 10px 5px 10px !important;
  margin-bottom: 0px !important;
}

.ion-card-discussion ion-card-content {
  padding: 0px 10px 5px 10px !important;
  margin-top: 0px !important;
}

.img-container {
  width: 100% !important;
  height: 100% !important;  
  padding: 0px 5px 5px 5px !important;
  z-index: 0 !important;
  position: relative;
}

.img-wrapper {  
  height: 250px !important;  
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-color: #ffffff;
  border-width: thin;
  border-radius: 5px;
}

.item-css {
  --background: #f2f2f2;
  border-color: #{$primary};
  border-style: solid;
  border-width: 1px;
  border-radius: 25px !important;
}

ion-textarea {
  margin: 0px;
  align-self: center !important;
  max-height: 100px;
}

.margin-top-none {
  margin-top: 0px !important;
}

.margin-bottom-none {
  margin-bottom: 0px !important;
}

.padding-top-none {
  padding-top: 0px !important;
}

ion-fab-button {
  --border-color: #ffffff;
  --border-style: solid;
  --border-width: thin;
}

.spinner-wrapper {
  height: 100%;
  text-align: center !important;
  z-index: -1 !important;
  position: relative;
}

.lazy-spinner {
  width: 15%;
  height: 100%;
  text-align: center !important;
}