<ion-header *ngIf="platform.isPortrait()">
    <ion-toolbar>
        <ion-buttons *ngIf="session.getUser().data.userType=='Staff'" slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="!userData.firstName"><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></ion-title>
        <ion-title *ngIf="userData.firstName">{{userData.firstName+' '+userData.lastName}}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="details">
                <ion-label>Details</ion-label>
            </ion-segment-button>
            <ion-segment-button *ngIf="formContext.userType=='Patient'" value="reports">
                <ion-label>Reports</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="true">
    <div [ngSwitch]="segment">
        <div *ngSwitchCase="'details'">
            <ng-container [ngSwitch]="(loaded && formContext.userType=='Patient')?'Patient'
            :(loaded && formContext.userType=='Staff')?'Staff' :'feedLoading'">
            <ng-container *ngSwitchCase="'Patient'">
            <ion-card
            [ngClass]="userData.status!='Active'?'ion-card-inactive':'ion-card-active'">
              <ion-card-header>
                <ion-item color="primary-contrast">
                  <ion-avatar slot="start">
                      <img *ngIf="userData.gender=='Male'" src="../assets/images/male.png">
                      <img *ngIf="userData.gender=='Female'||userData.gender=='Third Gender'" src="../assets/images/female.png">
                  </ion-avatar>
                  <ion-label class="selectable">
                    <h3>{{userData.firstName+" "+userData.lastName}}</h3>
                    <p>UH ID - {{userData.uhid}}</p>
                  </ion-label>
                  <ion-button *hasPermissions="['can-edit-patient'];contains:true" fill="clear" slot="end" (click)="EditUser()">
                    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                  </ion-button>
              </ion-item>
              </ion-card-header>
        
              <ion-card-content>
                  <ion-grid>

                    <ion-row>
                        <ion-col size="4">DOB</ion-col>
                        <ion-col size="8" class="selectable">{{userData.dob | dateformat}} ({{userData.dob | ageformat}} years)</ion-col>
                    </ion-row>                     
                    <ion-row>
                        <ion-col size="4">Role</ion-col>
                        <ion-col size="8" class="selectable">{{userData.role.path.substring(userData.role.path.lastIndexOf("/")+1)}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">Blood Type</ion-col>
                        <ion-col size="8" class="selectable">{{userData.bloodType?userData.bloodType:'-'}}</ion-col>
                    </ion-row>                     
                    <ion-row>
                    <ion-col size="4">Room No</ion-col>
                    <ion-col size="8" class="selectable">{{userData.roomNumber?userData.roomNumber:'-'}}</ion-col>
                  </ion-row>
                  <ion-row>                      
                    <ion-col size="4">Email</ion-col>
                    <ion-col size="8" class="selectable">
                        {{userData.emailAddress}}
                        <a *ngIf="formContext.user.id!=session.getUser().id && userData.emailAddress" href="{{'mailto:'+userData.emailAddress}}">
                        <ion-icon name="mail">
                        </ion-icon></a>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="4">Mobile</ion-col>
                    <ion-col size="8" class="selectable">
                        {{userData.mobileNumber}}
                        <a *ngIf="formContext.user.id!=session.getUser().id && userData.mobileNumber" href="{{'tel:+91'+userData.mobileNumber}}">
                        <ion-icon name="call">
                        </ion-icon></a>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
          </ion-card>
          </ng-container>
        
          <ng-container *ngSwitchCase="'Staff'">
            <ion-card
            [ngClass]="userData.status!='Active'?'ion-card-inactive':'ion-card-active'">
              <ion-card-header>
                <ion-item color="primary-contrast">
                  <ion-avatar slot="start">
                      <img *ngIf="userData.gender=='Male'" src="../assets/images/male.png">
                      <img *ngIf="userData.gender=='Female'||userData.gender=='Third Gender'" src="../assets/images/female.png">
                  </ion-avatar>
                  <ion-label class="selectable">
                    <h3>{{userData.firstName+" "+userData.lastName}}</h3>
                  </ion-label>
                  <ion-button *hasPermissions="['can-edit-staff'];contains:true" fill="clear" slot="end" (click)="EditUser()">
                    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                  </ion-button>
              </ion-item>
              </ion-card-header>
        
              <ion-card-content>
                  <ion-grid>                      
                    <ion-row>
                      <ion-col size="4">Role</ion-col>
                      <ion-col size="8" class="selectable">{{userData.role.path.substring(userData.role.path.lastIndexOf("/")+1)}}</ion-col>
                    </ion-row>            
                    <ion-row *ngIf="userData.dob">
                      <ion-col size="4">DOB</ion-col>
                      <ion-col size="8" class="selectable">{{userData.dob | dateformat}} ({{userData.dob | ageformat}} years)</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">Email</ion-col>
                        <ion-col size="8" class="selectable">
                            {{userData.emailAddress}}
                            <a *ngIf="formContext.user.id!=session.getUser().id && userData.emailAddress" href="{{'mailto:'+userData.emailAddress}}">
                            <ion-icon name="mail">
                            </ion-icon></a>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4">Mobile</ion-col>
                        <ion-col size="8" class="selectable">
                        {{userData.mobileNumber}}
                        <a *ngIf="formContext.user.id!=session.getUser().id && userData.mobileNumber" href="{{'tel:+91'+userData.mobileNumber}}">
                        <ion-icon name="call">
                        </ion-icon></a>
                    </ion-col>
                    </ion-row>
                  </ion-grid>
              </ion-card-content>
          </ion-card>
          </ng-container>  
          
          <ng-container *ngSwitchCase="'feedLoading'">
            <ion-card class="ion-card-active">
              <ion-card-header>        
                <ion-item color="primary-contrast">
                    <ion-avatar slot="start">
                      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    </ion-avatar>            
                    <ion-label class="selectable">
                      <h3><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></h3>
                      <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
                    </ion-label>
                </ion-item>          
              </ion-card-header>
              <ion-card-content>
                  <ion-grid>
                      <ion-row>
                          <ion-col size="4"><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></ion-col>
                          <ion-col size="8"><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col size="4"><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></ion-col>
                          <ion-col size="8"><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col size="4"><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></ion-col>
                          <ion-col size="8"><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="4"><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></ion-col>
                        <ion-col size="8"><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></ion-col>
                    </ion-row>              
                  </ion-grid>
              </ion-card-content>
          </ion-card>

          <ion-item *ngIf="formContext.userType=='Patient'">
            <ion-label color="primary">
                Vitals
            </ion-label>
          </ion-item>

            <ion-card *ngFor="let item of [1,2,3,4]" class="ion-card-vital">
                <ion-card-header>
                    <ion-card-subtitle><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="6">
                                <ion-label><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></ion-label>
                            </ion-col>
                            <ion-col size="6">
                                <ion-label><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6">
                                <ion-label><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></ion-label>
                            </ion-col>
                            <ion-col size="6">
                                <ion-label><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>          
          </ng-container>
        </ng-container>

        <ion-item *ngIf="formContext.userType=='Patient'">
            <ion-label color="primary">
                Vitals{{userData.vitals&&userData.vitals.length>0?'':' - no vitals to display'}}
            </ion-label>
        </ion-item>

            <ion-card *ngFor="let vital of userData.vitals" class="ion-card-vital">
                <ion-card-header>
                    <ion-card-subtitle>{{vital.submittedDate | timeformat}}  - {{vital.submittedBy}} (submitted by)</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                    <ion-grid>
                        <ion-row>                            
                            <ion-col *ngIf="vital.spo2" size="6">
                                <ion-chip>
                                    <ion-icon name="flower-outline"></ion-icon>
                                    <ion-label> SPO2 - {{vital.spo2}}</ion-label>
                                </ion-chip>
                            </ion-col>
                            <ion-col *ngIf="vital.bpSystolic" size="6">
                                <ion-chip>
                                    <ion-icon name="analytics-outline"></ion-icon>
                                    <ion-label> BP - {{vital.bpSystolic+'/'}}{{vital.bpDiastolic}}</ion-label>
                                </ion-chip>
                            </ion-col>
                            <ion-col *ngIf="vital.heartRate" size="3">
                                <ion-chip>
                                    <ion-icon name="heart-outline"></ion-icon>
                                    <ion-label>{{vital.heartRate}}</ion-label>
                                </ion-chip>
                            </ion-col>
                            <ion-col *ngIf="vital.temperature" size="4">
                                <ion-chip>
                                    <ion-icon name="thermometer-outline"></ion-icon>
                                    <ion-label>{{vital.temperature}}°F</ion-label>
                                </ion-chip>
                            </ion-col>
                            <ion-col *ngIf="vital.bloodSugar" size="5">
                                <ion-chip>
                                    <ion-icon name="water-outline"></ion-icon>
                                    <ion-label>{{vital.bloodSugar}} mg/dL</ion-label>
                                </ion-chip>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="vital.note">
                            <ion-col size="12">
                                <ion-text> Notes - {{vital.note}}</ion-text>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </div>
        <div *ngSwitchCase="'reports'">
            <ion-segment [(ngModel)]="displayBy" (ionChange)="changeDisplayBy()">
                <ion-segment-button class="ion-segment-button-css" value="day">
                    <ion-label color="dark">Day</ion-label>
                </ion-segment-button>
                <ion-segment-button class="ion-segment-button-css" value="week">
                    <ion-label color="dark">Week</ion-label>
                </ion-segment-button>
                <ion-segment-button class="ion-segment-button-css" value="month">
                    <ion-label color="dark">Month</ion-label>
                </ion-segment-button>
                <ion-segment-button class="ion-segment-button-css" value="year">
                    <ion-label color="dark">Year</ion-label>
                </ion-segment-button>
            </ion-segment>
            <ion-grid>
                <ion-row>
                    <ion-col class="ion-no-padding ion-text-center ion-align-self-center" size="1.5">
                        <ion-button disabled="{{disableDecrease}}" (click)="reduceDateRange()" size="small"
                            shape="round">
                            <ion-icon name="arrow-back-outline"></ion-icon>
                        </ion-button>
                    </ion-col>
                    <ion-col *ngIf="displayBy == 'day'" size="9">
                        <ion-item>
                            <ion-datetime style="width: 100%; text-align: center;" (ionChange)="onChangeDate()"
                                [(ngModel)]="selectedDate" displayFormat="DD-MMM-YY" min="{{vitalsStartDate}}"
                                max="{{vitalsEndDate}}">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col *ngIf="displayBy == 'week'" size="4.5">
                        <ion-item>
                            <ion-datetime disabled="true" style="width: 100%; text-align: center;"
                                [(ngModel)]="weekStartDate" displayFormat="DD-MMM-YY">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col *ngIf="displayBy == 'week'" size="4.5">
                        <ion-item>
                            <ion-datetime disabled="true" style="width: 100%; text-align: center;"
                                [(ngModel)]="weekEndDate" displayFormat="DD-MMM-YY">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col *ngIf="displayBy == 'month'" size="9">
                        <ion-item>
                            <ion-datetime disabled="true" style="width: 100%; text-align: center;"
                                [(ngModel)]="monthDate" displayFormat="MMM-YY" min="{{vitalsStartDate}}"
                                max="{{vitalsEndDate}}">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col *ngIf="displayBy == 'year'" size="9">
                        <ion-item>
                            <ion-datetime disabled="true" style="width: 100%; text-align: center;"
                                [(ngModel)]="monthDate" displayFormat="YYYY" min="{{vitalsStartDate}}"
                                max="{{vitalsEndDate}}">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col class="ion-no-padding ion-text-center ion-align-self-center" size="1.5">
                        <ion-button disabled="{{disableIncrease}}" (click)="increaseDateRange()" size="small"
                            shape="round">
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-list>
                <ion-grid>
                    <ion-row *ngFor="let vitalChartConfig of vitalsChartConfigs">
                        <ion-col>
                            <canvas baseChart [datasets]="vitalChartConfig.chartData"
                                [labels]="vitalChartConfig.chartLabels" [options]="vitalChartConfig.chartOptions"
                                [colors]="vitalChartConfig.chartColors" [legend]="vitalChartConfig.showLegend"
                                [chartType]="vitalChartConfig.chartType">
                            </canvas>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list>
        </div>
    </div>
    <ng-container *hasPermissions="['can-add-vital'];contains:true">        
        <ion-fab *ngIf="segment=='details' && formContext.userType=='Patient'" (click)="showVitalsPage()" vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button>
                <ion-icon name="pulse"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>

    <!-- <ion-fab *ngIf="segment == 'details'" (click)="showVitalsPage()" vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button>
            <ion-icon name="chatbubble-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->

</ion-content>