<ion-header>
  <ion-toolbar class="ion-text-center ion-align-self-end">
    <img src="/assets/images/logo.png" class="image-css"><img>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">   
    <ng-container *ngTemplateOutlet="viewTemplate"></ng-container>
  </div>
</ion-content>

<ng-template #statusTemplate>
  <div>
    <ion-text><strong>{{ statusHeader }}</strong></ion-text>    
    <ion-text style="padding-top:0; white-space: pre-wrap;">
      <p>{{ statusLabel }}</p>
    </ion-text>
  </div>
</ng-template>

<ng-template #passcodeTemplate>
  <div class="passcode-css">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>{{ statusHeader }}</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-title>&nbsp;</ion-title>
        </ion-col>
      </ion-row>
      <ion-row [@shakeAnimation]="shakeAnimation" (@shakeAnimation.done)="resetShake()">
        <ion-col size="2">
        </ion-col>
        <ion-col size="2">
          <ion-icon *ngIf="passCode.length<=0" name="ellipse-outline"></ion-icon>
          <ion-icon *ngIf="passCode.length>0" name="ellipse"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <ion-icon *ngIf="passCode.length<=1" name="ellipse-outline"></ion-icon>
          <ion-icon *ngIf="passCode.length>1" name="ellipse"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <ion-icon *ngIf="passCode.length<=2" name="ellipse-outline"></ion-icon>
          <ion-icon *ngIf="passCode.length>2" name="ellipse"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <ion-icon *ngIf="passCode.length<=3" name="ellipse-outline"></ion-icon>
          <ion-icon *ngIf="passCode.length>3" name="ellipse"></ion-icon>
        </ion-col>
        <ion-col size="2">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-title>&nbsp;</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" *ngFor="let num of numbers" >
          <ion-button (click)="add(num)" size="large" color="light" fill="solid" shape="round">
            {{num}}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="ion-text-center ion-align-self-end">
          <ion-button (click)="deleteCode()" color="light" fill="solid" shape="round">
            <<
          </ion-button>
        </ion-col>        
        <ion-col size="4">
          <ion-button (click)="add(zero)" size="large" color="light" fill="solid" shape="round">
            {{zero}}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row><ion-col>&nbsp;</ion-col></ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="forgotCode()" color="light" size="small" fill="solid" shape="round">
            Forgot Passcode
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ng-template>
