<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">      
      <ion-button fill="clear" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ formContext.action }} {{ formContext.userType }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="true">

  <form [formGroup]="userForm">

    <ion-item *ngFor ="let attribute of formModel" class="ion-text-wrap">
       
        <ion-label color="primary" [ngClass]="attribute.attrRequired?'required':''" *ngIf="attribute.attrType=='select'||attribute.attrType=='date'||attribute.attrType=='lookup'">
          {{attribute.attrLabel}}
        </ion-label>

        <ion-select *ngIf="attribute.attrType == 'select'" placeholder="Select One" 
        interface="action-sheet" formControlName="{{attribute.attrName}}">
          <ion-select-option *ngFor="let option of attribute.attrOptions" value="{{option}}">
            {{option}}
          </ion-select-option>
        </ion-select>

        <ion-datetime *ngIf="attribute.attrType == 'date'" placeholder="Choose Date" min="{{attribute.attrMin}}" max="{{attribute.attrMax}}"
        displayFormat="DD MMM, YYYY"
        monthShortNames="Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec" formControlName="{{attribute.attrName}}">
        </ion-datetime>

        <ion-label color="primary" [ngClass]="attribute.attrRequired?'required':''" *ngIf="attribute.attrType=='text'||attribute.attrType=='tel'" position="floating">
          {{attribute.attrLabel}}
        </ion-label>
        <ion-input *ngIf="attribute.attrType=='text'||attribute.attrType=='tel'"         
        inputmode="{{attribute.attrType}}" autocomplete="off" formControlName="{{attribute.attrName}}">
        </ion-input>

        <ion-select *ngIf="attribute.attrType == 'lookup'"
          [multiple]="attribute.attrSelection == 'single'?'false':'true'"
          placeholder="Choose" [interfaceOptions]="selectAlertOptions"
          [interface]="attribute.attrSelection == 'single'?'action-sheet':'alert'"
          formControlName="{{attribute.attrName}}">
         <ion-select-option *ngFor="let option of attribute.attrOptions | async" [value]="option.value">
           {{option.label}}
          </ion-select-option>
        </ion-select>

        <control-messages [control]="userForm.get(attribute.attrName)"></control-messages>

    </ion-item>

    <div *ngIf="formContext.action == 'Add'">
      <ion-button size="medium" expand="full" (click)="addUser('next')" [disabled]="userForm.invalid">
        Save & Next
      </ion-button>
      <ion-button size="medium" expand="full" (click)="addUser('')" [disabled]="userForm.invalid">
        Save
      </ion-button>
    </div>
    <div *ngIf="formContext.action == 'Edit'">
      <ion-button size="medium" expand="full" (click)="updateUser()" [disabled]="userForm.invalid">
        Update
      </ion-button>
    </div>
    
  </form>
</ion-content>
