$primary: var(--ion-color-primary);
$radial-card-active: var(--radial-card-active);

ion-datetime {
    touch-action: none;
}

ion-select::part(text) {
    white-space: normal !important;
    display:block;
    //text-align: right;
}

.required:after {
    content:" *";
    color: red;
  }
  
  h3 {
    color: #000000 !important;
  }
  
  p {
    color: #737373 !important;
  }
  
  ion-item-divider {
    background-color: #ffffff;
    color: #ffffff;
  }

  .item-css {
    align-items: flex-end;
  }

  .item-area-css {
    align-items: flex-start;
  }
  
  .ion-card-active {
    --background: #{$radial-card-active};
    border-color: #{$primary};
    border-style: solid;
    border-width: thin;
    border-radius: 25px;
    min-height: 213px;    
  }
    
  .ion-card-vital {
    --background: #ffffff;
    border-color: #{$primary};
    border-style: solid;
    border-width: thin;
    border-radius: 25px;
    min-height: 173px;
  }
  
  ion-fab-button {
    --border-color: #ffffff;
    --border-style: solid;
    --border-width: thin;
  }
  