<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>PatientDetails</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
        <ion-card-header>
            {{patientDetails.firstName}} {{patientDetails.lastName}}
        </ion-card-header>  
        <ion-card-content>
            {{patientDetails.aadharNo}}
        </ion-card-content>
    </ion-card>
  </ion-content> 