/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face{
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/OpenSans-Regular.ttf');    
}
.select-alert-css .alert-wrapper.sc-ion-alert-md,
.select-alert-css .alert-wrapper.sc-ion-alert-ios,
.select-alert-css .alert-checkbox-group.sc-ion-alert-md,
.select-alert-css .alert-checkbox-group.sc-ion-alert-ios
 {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.cropper {
    color: #ffffff !important;
}

.square {    
    background: #ffffff !important;
}

image-cropper div:first-child {
    height: 100% !important;
}

image-cropper div img.source-image.ng-star-inserted {
  width: 70% !important;
  height: 70% !important;
  object-fit: contain;
  transition: all 1s ease !important;
}

// image-cropper div:first-child {
//     //align-self: center !important;//     
// }

// image-cropper div img {
//     object-fit: contain;
//     transition: all 0.3s ease !important;
//     width: 300px !important;
//     height: 300px !important;
//     width: var(--canvas-img-width) !important;
//     height: var(--canvas-img-height) !important;
// }