<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <strong>Annai Arul Hospital - CV19</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">    
    <ion-icon *ngIf="authService.authSuccess" class="icon-ctrl" name="checkmark-circle-outline"></ion-icon><br>
    <ion-button routerLink="/patient-list" routerDirection="forward">
      <ion-label>Patient List</ion-label>
    </ion-button>
    <strong>{{ authService.authStatus }}</strong>
    <div *ngIf="authService.authError && authService.authError.length > 0">
      <p>{{ authService.authError }}</p>
      <p>Device ID {{ authService.uuid }}</p>
    </div>
  </div>
</ion-content>
