<ion-header>
  <ion-toolbar class="ion-text-center ion-align-self-end">
    <img src="/assets/images/aah_1024x500.png" class="image-css"><img>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container" [@slideInOut] *valueChange="statusHeader">   
    <ng-container *ngTemplateOutlet="viewTemplate"></ng-container>
  </div>
  <div *ngIf="!session.isHybrid()" id="recaptcha-container"></div>
</ion-content>

<ng-template #statusTemplate>
  <p><ion-text><strong>{{ statusHeader }}</strong></ion-text></p>
  <ion-text style="padding-top:0; white-space: pre-wrap;">
    <p>{{ statusLabel }}</p>
  </ion-text>
</ng-template>

<ng-template #registerTemplate>
  <form *ngIf="mobileForm" [formGroup]="mobileForm">
    <p><ion-text><strong>{{ statusHeader }}</strong></ion-text></p>
    <p><ion-input placeholder="Enter 10 digit mobile number" autofocus="true"
    type="tel" #mobileNumber formControlName="mobileNumber"></ion-input></p>
    <control-messages [control]="mobileForm.get('mobileNumber')"></control-messages>
    <p><ion-button shape="round" (click) = "verifyMobileNoinDB(mobileNumber.value.toString())" [disabled]="mobileForm.invalid">Register</ion-button></p>
    <ion-text style="padding-top:0; white-space: pre-wrap;">
      <p>{{ statusLabel }}</p>
    </ion-text>    
  </form>    
</ng-template>

<ng-template #otpTemplate>
  <form *ngIf="otpForm" [formGroup]="otpForm">
    <p><ion-text><strong>{{ statusHeader }}</strong></ion-text></p>
    <p><ion-input placeholder="Enter OTP" type="tel" autofocus="true" formControlName="otp" #otp></ion-input></p>
    <control-messages [control]="otpForm.get('otp')"></control-messages>
    <p><ion-button shape="round" (click) = "signInWithOTP(otp.value.toString())" [disabled]="otpForm.invalid">Submit</ion-button></p>
    <ion-text style="padding-top:0; white-space: pre-wrap;">
      <p>{{ statusLabel }}</p>
    </ion-text>
  </form>
</ng-template>

<ng-template #passcodeTemplate>
  <div class="passcode-css">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>{{ statusHeader }}</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-title>&nbsp;</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
        </ion-col>
        <ion-col size="2">
          <ion-icon *ngIf="(passcodeSubject.value==1&&setCode.length<=0)||(passcodeSubject.value==2&&confirmCode.length<=0)" name="ellipse-outline"></ion-icon>
          <ion-icon *ngIf="(passcodeSubject.value==1&&setCode.length>0)||(passcodeSubject.value==2&&confirmCode.length>0)" name="ellipse"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <ion-icon *ngIf="(passcodeSubject.value==1&&setCode.length<=1)||(passcodeSubject.value==2&&confirmCode.length<=1)" name="ellipse-outline"></ion-icon>
          <ion-icon *ngIf="(passcodeSubject.value==1&&setCode.length>1)||(passcodeSubject.value==2&&confirmCode.length>1)" name="ellipse"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <ion-icon *ngIf="(passcodeSubject.value==1&&setCode.length<=2)||(passcodeSubject.value==2&&confirmCode.length<=2)" name="ellipse-outline"></ion-icon>
          <ion-icon *ngIf="(passcodeSubject.value==1&&setCode.length>2)||(passcodeSubject.value==2&&confirmCode.length>2)" name="ellipse"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <ion-icon *ngIf="(passcodeSubject.value==1&&setCode.length<=3)||(passcodeSubject.value==2&&confirmCode.length<=3)" name="ellipse-outline"></ion-icon>
          <ion-icon *ngIf="(passcodeSubject.value==1&&setCode.length>3)||(passcodeSubject.value==2&&confirmCode.length>3)" name="ellipse"></ion-icon>
        </ion-col>
        <ion-col size="2">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-title>&nbsp;</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" *ngFor="let num of numbers">
          <ion-button (click)="add(num)" size="large" color="light" fill="solid" shape="round">
            {{num}}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="ion-text-center ion-align-self-end">
          <ion-button (click)="deleteCode()" color="light" fill="solid" shape="round">
            <<
          </ion-button>
        </ion-col>        
        <ion-col>
          <ion-button (click)="add(zero)" size="large" color="light" fill="solid" shape="round">
            {{zero}}
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-text-center ion-align-self-end">
          <ion-button (click)="acceptCode()" color="light" fill="solid" shape="round">
            <ion-icon name="{{statusLabel}}" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>        
      </ion-row>
    </ion-grid>
  </div>
</ng-template>

<ng-template #registerCompleteTemplate>
  <p><ion-text><strong>{{ statusHeader }}</strong></ion-text></p>
  <p><ion-button shape="round" (click) = "login()">Login</ion-button></p> 
</ng-template>
